@media (max-width: 768px) {
  .skill-rank-cont{
    position: absolute;
    width: 70%;
    margin-top: 10rem;
    top: 230px;
    
  }
  .skillrank{
    display: flex;
  }
}
.Skillrank{
    display: flex;
    align-items: center;
    justify-content: center;

}
.rank-title{
  color: #d8d8d8;
  margin-top: 1rem;
}
.skill-rank-cont{
  margin: 5px;  
  border-left: 3px solid #ff0000e9;
  padding-left: 10px;
}
.skill-rank-cont h2 span{
    color: #ff0000e9;
}

.skill-rank-icon{
    transform: rotate(-90deg);
    color: orange;
    text-decoration: none;
    background: transparent;
}

.skill-link{
    color: orange;
    text-decoration: none;
}
.skill-rank-item{
    width: 100%;
    margin-top: .5rem;
    background: transparent;
}

.skill-rank-item span{
    background: transparent;
    color: #d8d8d8;
}

.skills-bar {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 85%;
    margin-top: .6rem;
  }

  .skills-bar-1 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 92%;
    margin-top: .6rem;
  }

  .skills-bar-2 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 70%;
    margin-top: .6rem;
  }

  .skills-bar-3 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 99%;
    margin-top: .6rem;
  }

  .skills-bar-4 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 50%;
    margin-top: .6rem;
  }
  .skills-bar-5 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 39%;
    margin-top: .6rem;
  }
  .skills-bar-6 {
    background-color: orange;
    height: .5rem;
    border-radius: .5rem;
    width: 40%;
    margin-top: .6rem;
  }

