* {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 200px;
  position: sticky;
}

.header img {
  width: 150px;
  height: 200px;
  top: 30;
  left: 0;
}
.portfolio-name {
  position: absolute;
  top: 0;
  margin-left: 15rem;
  background: transparent;
}
.portfolio-name h2 {
    color: whitesmoke;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
    border-radius: 2px;
    
}


.portfolio-name h2 small {
  color: whitesmoke;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.portfolio-name h2 small span {
  color: #ff0000e9;
  font-weight: bolder;
  font-style: normal;
}
.header-icons {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  margin-top: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 2rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 10rem;
}

.header-icon {
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
.header-icon:hover{
  color: #ff0000e9;
}

.header-icon-l {
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
.dropdown-content {
  box-shadow: 1px 1px 1px 1px #747474;
  display: grid;
  margin-top: 8rem;
  position: absolute;
  margin-right: 40rem;
  height: 90px;
  background: transparent;
}

.dropdown-content a{
  color: white;
  text-decoration: none;
  background: transparent;

}
.profile {
  box-shadow: 1px 1px 1px 1px #747474;
  margin-top: 18rem;
  margin-right: 20rem;
  position: absolute;
  width: 250px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.image-round {
  width: 100px;
  height: 110px;
  background-color: #ff6600;
  margin-top: 1rem;
  margin-left: 1rem;
  z-index: 4;
}

.image-round img {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.profile button {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25px;
  width: 100px;
  border: none;
  background-color: #4285f4;
  border-radius: 3px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.profile button:hover {
  box-shadow: 1px 1px 1px 1px #9c9c9c;
}

.profile-details {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-bottom: 2px solid #4285f4;
  padding-bottom: 5px;
}

.profile-details small {
  color: whitesmoke;
}

.profile-nav {
  justify-content: space-around;
  display: flex;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  margin-top: 1rem;
}

.profile-nav a {
  text-decoration: none;
  color: whitesmoke;
}

.prof-nav-a {
  border-bottom: 2px solid #4285f4;
  padding-bottom: 5px;
}


.git-prof{
    width: 250px;
    display: flex;
    margin-top: 27rem;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #747474;
}



.side-1 img{
    width: 100px;
    height: 120px;
}

.side-1-disp-cont{
    background: transparent;
}
.side-1-disp-cont h2{
    color: whitesmoke;
}
.side-1-disp-cont em{
    color: gray;
}
.side-1-disp-cont small{
    color: whitesmoke;
}
.side-1-items{
    display: flex;
    justify-content: space-around;

}

.side-1-items button{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    border-radius: 3px;
    height: 30px;
}

.side-1-items-icon{
    background: transparent;
    color: white;
}

.side-1-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
    grid-gap: 5px;
}

.side-1-links a{
    color: white;
    text-decoration: none;
    font-size: 10px;
    border-bottom: 1.5px solid white;
    padding-bottom: 7px;
}
.side-1-content{
    display: grid;
    grid-template-rows: repeat(3, 1fr) ;

}
.side-1-content a{
    text-align: left;
    align-items: left;
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-top: .7rem;
}

.time{
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  margin-top: 1rem;
}

.time h2{
  color: white;
  font-size: 15px;
}



.small-time{
  border-bottom: 2px solid white;
  padding-bottom: 7px;
  border-radius: 2px;
  color: orange;
  font-size: 15px;
}