.client{
    border: 2px solid red;
    width: 800px;
    margin-top: 10rem;
    position: absolute;
    top: 0;
    right: 0;

}

.client-img{
    width: 150px;
    height: 150px;
    background-color: purple;
}

.client-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
