@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@media (max-width:768px) {
    .display{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 6rem;
        margin-top: 2rem;
        height: 370px;

    }
    .display-image{
        background: transparent;
        bottom: 0;
        right: 0;
        position: absolute;
        height: 400px;

       
    }
    .display-image img{
        object-fit: fill;
    }

    .home-container{

        width: 370px;

    }

}
.display{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: left; 
    z-index: 10;
    background: transparent;

}

.home-container{
    border-left: 2px solid #ff0000e9;
    align-items: center;
    z-index: 2000;
    background: transparent;
    margin: 5px;
    animation: moveright 1s linear 1;
    animation-delay: .1s;
   
}
@keyframes moveright {
    0%{
        transform: scale(0) ;
        visibility: hidden;
    }
    100%{
        transform: scale(1.1);
    }
    
}

.home-container h1{
    color: #d8d8d8;
    font-family: Poppins;
    font-weight: bold;
    margin-left: 1rem;
    background: transparent;
}

.home-container h1 span{
    color: #ff0000e9;
    background: transparent;
}

.sub-title{
    margin-left: 1rem;
    width: 80%;
    background: transparent;
}

.sub-title small{
    color: #d8d8d8;
    background: transparent;
}

.display-image img{
    background: transparent;
    width: 400px;
    height: 400px;
}