@media (max-width: 768px) {
    .skill-act{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: transparent;
        margin: 11px;
        position: absolute;
        margin-left: 3.2rem;


    }
    .empty-dix{
        background: transparent;
    }
    .skill-set{
        position: absolute;
        z-index: 3000;
        background: transparent;

    }

    .skill-icon{
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 10rem;
        width: 300px;
        
       
    }
    

    .click{
        color: #d8d8d8;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .next-page{
        color: orange;
    }
}
.skill-act{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: transparent;
}
.empty-dix{
    background: transparent;
}
.skill-set{
   

}
.skill-icon{
   
}

.skill-big-icon-log{
    height: 350px;
    width: 300px;
    background: transparent;
    color: orange;


}



.skill-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;

}
.click{
    color: #d8d8d8;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent;
}
.next-page{
    color: orange;
    margin-left: 2rem;
    margin-top: 1rem;
}

.skill-set h1{
    color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: expanded;
    border-radius: 2px;
    background: transparent;
}

.skill-set h1 span{
    color: #ff0000e9;
    background: transparent;
}
.skill-set em{
    color: #a6a6a6e9;
    background: transparent;
}




.click:hover{
    border-bottom: 3px solid orange;
    border-bottom-style: groove;

}


.next-page {
    transform: rotate(90deg);
}

.skill-front{
    color: #d8d8d8;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;

}
.skill-front span{
    color: #d8d8d8;
    display: inline;


    
}


.skill-icons{
    color: #d8d8d8;
    height: 20px;
    width: 30px;
    justify-content: center;
    align-items: center;
}

.skill-icons:hover{
    color: #ff0000e9;
}

.exp-front{
    color: #d8d8d8;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
}

.ac{
    color: #d8d8d8;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
}

.pg{
    color: #d8d8d8;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
}

.pg-data{
    
}


